html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

#resume {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 50%;
    top: 5%;
    margin-left: -250px;
    visibility: hidden;
}

#start {
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -350px;
    visibility: hidden;
}

